@mixin readers-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
