@mixin readers-only() {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin slide-active() {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border: 3px solid $color--blue;
}

@mixin container() {
  width: 280px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 620px;
  }

  @media (min-width: $desktop) {
    width: 940px;
  }
}
