.advantages {
  font-size: 14px;
  line-height: 24px;
  color: $color--blue;
  background-color: #fff;
}

.advantages__header {
  padding-top: 40px;
  padding-bottom: 33px;
}

.advantages__title {
  @include readers-only();
}

.advantage__intro {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 204px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: $light;
  text-align: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.advantages__items-container {
  @include container();
}

.advantages__items {
  position: relative;
  padding-top: 81px;
  padding-bottom: 288px;
  background-color: $color--gray;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 26px;
    background: url("../img/bg-triangle-white.svg") no-repeat 50% 50%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 278px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 0;
    background-size: 157px auto;
  }
}

.advantages__item {
  text-align: center;
  max-width: 100%;
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: $bold;
  color: #000;
}

.advantages__item-descr {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.advantages__item-descr br {
  display: none;
}

.advantages__article {
  display: none;
}

@media (min-width: $tablet) {

  .advantages__header {
    padding-top: 49px;
    padding-bottom: 48px;
  }

  .advantage__intro {
    margin-bottom: 0;
    width: 100%;
    font-size: 40px;

    &:last-of-type {
      width: 335px;
    }
  }

  .advantages__items {
    padding-top: 73px;
    padding-bottom: 0;

    &::before {
      height: 52px;
    }

    &::after {
      display: none;
    }
  }

  .advantages__items-container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      z-index: 10;
      width: 256px;
      height: 278px;
      /*Заменить картинку, как будет графика для планшетной версии*/
      background: url("../img/iphone-screen-mobile@1x.png") no-repeat 0 0;
      background-size: 157px auto;
    }
  }

  .advantages__items-wrapper {
    padding-left: 310px;
  }

  .advantages__item {
    text-align: left;

    &:last-child {
      padding-bottom: 8px;
    }
  }

  .advantages__item-descr {
    margin-bottom: 35px;
  }

  .advantages__item-descr br {
    display: inline;
  }

  .advantages__article {
    display: block;
  }

  .asvantages__article-inner {
    padding-top: 96px;
    padding-bottom: 86px;
    padding-left: 310px;
  }

  .advantages__article-title {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: $bold;
    color: #000;
  }

  .advantages__article-descr {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 297px;
  }

  .advantages__article-link {
    color: $color--pink;
  }

}
