.contest-form {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: $color--blue;
  background-color: #fff;
}

.contest-form__header {
  @include container();
  padding: 46px 0 35px 0;
}

.contest-form__header p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
}

.contest-form__header-part {
  display: none;
}

.contest-form__title {
  @include readers-only();
}

.contest-form__item {
  margin: 0;
  padding: 0;
  border: none;

  &--bg-grey {
    background-color: $color--gray;
  }

  &--personal {
    @include container();
    padding-bottom: 24px;
  }

  &--achievements {
    padding-top: 37px;
    padding-bottom: 45px;
  }

  &--number {
    @include container();
    padding-top: 32px;
    padding-bottom: 25px;
  }

  &--app {
    padding-top: 37px;
    padding-bottom: 48px;
  }

  &--review {
    @include container ();
    margin-top: 38px;
    margin-bottom: 34px;
  }
}

.contest-form__item-inner {
  @include container();
}

.contest-form__item-title {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 45px;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  font-weight: $normal;
  color: $color--pink;
  text-align: center;
  text-transform: uppercase;

  &--number {
    display: none;
  }

  &--app {
    margin-bottom: 40px;
  }

  &--review {
    margin-bottom: 15px;
  }
}

.contest-form__item input,
.contest-form__item textarea {
  display: block;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 17px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-family: $font-family;
  color: $color--blue;
  border: 2px solid $color--gray-border;
  border-radius: 2px;
  outline: none;
}

.contest-form__item textarea {
  min-height: 200px;
}

.contest-form__item input:hover,
.contest-form__item textarea:hover {
  border-color: $color--blue;
}

.contest-form__item input:focus,
.contest-form__item textarea:focus {
  border-color: $color--pink;
}

.contest-form__item input[type="checkbox"],
.contest-form__item input[type="radio"] {
  display: none;
}

.contest-form__item label {
  display: block;
}

.contest-form__field-text-label {
  padding-left: 22px;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  color: $color--pink;
  text-transform: uppercase;
}


.contest-form__checkbox-label {
  position: relative;
  margin-bottom: 53px;
  padding-left: 68px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 2px solid $color--gray-border;
    border-radius: 2px;
  }
}

.contest-form__checkbox-label:hover {
  &::before {
    border-color: $color--blue;
  }
}

.contest-form__checkbox-label:active {
  &::before {
    border-color: $color--pink;
  }
}

.contest-form__checkbox-group:last-of-type {
  margin-bottom: -53px;
}

.contest-form__radio-label {
  position: relative;
  margin-bottom: 45px;
  padding-left: 68px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    display: block;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border: 2px solid $color--gray-border;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 8px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: $color--pink;
    border-radius: 50%;
  }
}

.contest-form__radio-label:hover {
  &::before {
    border-color: $color--blue;
  }
}

.contest-form__radio-label:active {
  &::before {
    border-color: $color--pink;
  }
}

.contest-form__action {
  @include container();
  text-align: center;
}

.contest-form__send {
  width: 100%;
  margin-bottom: 35px;
}

.contest-form__send--disabled {
  background-color: $color--gray-border;
}

.contest-form__note {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__ast {
  color: $color--pink;
}

.contest-form__note-part {
  display: none;
}

.contest-form__ready {
  bottom: 420px;
}

.contest-form__popup-inner {
  @include container();
}

.contest-form__error {
  bottom: 977px;
  padding-bottom: 50px;
}

@media (min-width: $tablet) {

  .contest-form {
    padding-bottom: 52px;
  }

  .contest-form__items {
    display: flex;
    flex-direction: column;
    @include container();
  }

  .contest-form__header {
    padding-top: 94px;
    padding-bottom: 70px;
  }

  .contest-form__header p {
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    font-size: 18px;
  }

  .contest-form__header-part {
    display: block;
  }

  .contest-form__item {
    padding-top: 0;
    width: 616px;
    border: 2px solid $color--gray-border;
    border-radius: 2px;

    &--bg-grey {
      background-color: #fff;
    }

    &--no-border {
      border: none;
    }

    &--personal {
      margin: 0;
      padding: 0;
      width: 620px;
      padding-bottom: 14px;
    }

    &--achievements {
      order: 3;
      margin-bottom: 66px;
      padding-bottom: 50px;
    }

    &--number {
      order: 2;
      margin: 0;
      margin-bottom: 66px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    &--app {
      order: 1;
      margin-bottom: 66px;
      padding-bottom: 57px;
    }

    &--review {
      order: 4;
      margin: 0;
      margin-top: 0;
      margin-bottom: 67px;
      padding: 0;
      padding-bottom: 34px;
    }
  }

  .contest-form__item-inner {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .contest-form__item-title {
    position: relative;
    top: -16px;
    z-index: 10;
    margin-bottom: 45px;
    padding: 0;
    width: auto;
    line-height: 30px;
    background-color: #fff;

    &--app {
      margin-bottom: 26px;
      width: 370px;
    }

    &--number {
      display: block;
      margin-bottom: 15px;
      width: 262px;
    }

    &--achievements {
      margin-bottom: 27px;
      width: 438px;
    }

    &--review {
      margin-bottom: 15px;
      width: 260px;
    }
  }

  .contest-form__item-content {
    padding-left: 58px;
    padding-right: 58px;
  }

  .contest-form__item-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;

    &--number {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  .contest-form__item-part--number {
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .contest-form__item input {
    flex-grow: 1;
    margin-bottom: 0;
    min-width: 320px;
  }

  .contest-form__item-part--number input {
    border-right: 62px solid $color--gray-border;
  }

  .contest-form__item textarea {
    min-height: 194px;
  }

/* Тут будут жить иконки
  .contest-form__item-part--number::after,
  .contest-form__item-part--number::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }*/

  .contest-form__field-text-label {
    flex-shrink: 0;
    margin-right: 22px;
    min-width: 33px;
    margin-bottom: 0;
    padding-left: 0;

    &--number {
      align-self: flex-start;
      order: 1;
      margin-left: 20px;
      margin-top: 10px;
    }
  }

  .contest-form__checkbox-label {
    margin-bottom: 52px;
    padding-left: 59px;
  }

  .contest-form__checkbox-group:last-of-type {
    margin-bottom: -50px;
  }

  .contest-form__radio-label {
    margin-bottom: 46px;
    padding-left: 59px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      left: -1px;
      top: -4px;
    }

    &::after {
      left: 12px;
      top: 8px;
    }
  }

  .contest-form__action {
    order: 5;
    display: flex;
    justify-content: space-between;
  }

  .contest-form__send {
    display: inline-block;
    margin-bottom: 0;
    width: 300px;
    vertical-align: top;
  }

  .contest-form__note {
    align-self: center;
    margin-bottom: 0;
    width: 185px;
  }

  .contest-form__ready {
    bottom: 1060px;
  }

  .contest-form__popup-inner {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contest-form__error {
    bottom: 1620px;
  }

}

@media (min-width: $desktop) {

  .contest-form {
    padding-bottom: 0px;
  }

  .contest-form__items {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contest-form__header {
    padding-top: 92px;
    padding-bottom: 78px;
  }

  .contest-form__header p {
    width: 758px;
  }

  .contest-form__header-part {
    display: inline;
  }

  .contest-form__item {
    padding-top: 0;
    width: 936px;

    &--personal {
      padding-top: 6px;
      padding-bottom: 0;
      width: 432px;
    }

    &--achievements {
      margin-bottom: 65px;
      padding-bottom: 6px;
    }

    &--number {
      margin-bottom: 64px;
      padding-bottom: 13px;
    }

    &--app {
      margin-bottom: 66px;
      padding-bottom: 59px;
      width: 432px;
    }

    &--review {
      margin: 0;
      margin-top: 0;
      margin-bottom: 65px;
      padding: 0;
      padding-bottom: 27px;
    }
  }

  .contest-form__item-title {
    &--app {
      margin-bottom: 30px;
      width: 370px;
    }

    &--number {
      margin-bottom: 13px;
      width: 262px;
    }

    &--achievements {
      margin-bottom: 28px;
      width: 438px;
    }

    &--review {
      margin-bottom: 13px;
      width: 260px;
    }
  }

  .contest-form__item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 58px;
    padding-right: 58px;
  }

  .contest-form__item-part {
    &--number {
      margin-bottom: 0;
      width: 374px;
    }
  }

  .contest-form__item textarea {
    min-height: 127px;
  }

  .contest-form__checkbox-label {
    margin-bottom: 53px;
    padding-left: 59px;
  }

  .contest-form__checkbox-group:last-of-type {
    margin-bottom: 0;
  }

  .contest-form__radio-label {
    margin-bottom: 44px;
    padding-left: 77px;

    &::before {
      left: 17px;
    }

    &::after {
      left: 30px;
    }
  }

  .contest-form__note {
    width: 318px;
  }

  .contest-form__note-part {
    display: inline;
  }

  .contest-form__ready {
    bottom: 210px;
    width: 780px;
  }

  .contest-form__ready h3 {
    width: 400px;
  }

  .contest-form__ready p {
    margin-bottom: 40px;
  }

  .contest-form__popup-inner {
    width: 440px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contest-form__error {
    bottom: 676px;
  }

  .contest-form__error .contest-form__popup-inner {
    width: 300px;
  }

}
