.main-nav {
  margin: 0;
  padding: 0;
  line-height: $line-height--small-nav;
  font-size: $font-size--small-1;
  font-weight: $bold;
  text-transform: uppercase;
  color: #fff;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 320px;
  list-style: none;
  border-bottom: 1px solid #000;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $color--blue;
  box-shadow:
    0 -1px 0 #000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.main-nav__list a {
  padding-top: 17px;
  padding-bottom: 15px;
  color: #fff;
  text-decoration: none;
}
