.main-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 254px;
  font-size: 18px;
  line-height: 32px;
  font-weight: $bold;
  text-transform: uppercase;
  color: #fff;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #000;
}

.main-nav__item {
  background-color: $color--blue;
  box-shadow:
    0 -1px 0 #000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.main-nav__list a {
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;

  &[href]:hover {
    color: $color--pink;
  }

  &[href]:active {
    color: $color--pink-opacity;
  }
}

@media (min-width: $desktop) {

  .main-nav {
    width: 790px;
    min-height: 108px;
    line-height: 18px;
    font-weight: $normal;
    text-transform: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    border-bottom: none;
  }

  .main-nav__item {
    margin-right: 80px;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: transparent;
    box-shadow: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__list a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .main-nav__current {
    border-bottom: 2px solid #fff;
  }

}
