.page-header {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  background: $color--blue url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 259px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  /*Фон при закрытом меню сдвигается*/
  &--menu-close {
    background-position: 50% 0px;
  }
}

.page-header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-header__title {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  width: 172px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: $light;

  &--main-page {
    @include readers-only();
  }

  &--form-page {
    width: 228px;
  }
}

/*Блок с логотипом и "гамбургером"*/
.page-header__menu-top {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 23px;
  width: 100%;
  background-color: $color--blue;
}

/*При закрытом меню этот блок становится прозрачным*/
.page-header--menu-close .page-header__menu-top {
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*Обертка для лого и гамбургера*/
.page-header__menu-top-inner {
  display: flex;
  align-items: center;
  @include container();
}

.page-header__logo {
  display: block;
  margin: 0;
  margin-right: auto;
  width: 147px;
  height: 41px;
}
/*Если отключен js, то логотип по центру*/
.page-header--no-js .page-header__logo {
  margin: 0 auto;
}

.page-header--no-js .page-header__logo-pink {
  left: -36px;
}

/*Меню открыто, крестик*/
.page__header-toggler {
  position: relative;
  display: block;
  padding: 0;
  margin-top: 15px;
  width: 50px;
  height: 25px;
  font-size: 0;
  border: none;
  outline: none;
  background: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -3px;
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(-45deg);
  }
}

.page__header-toggler:hover::before {
  background-color: $color--pink;
}

.page__header-toggler:hover::after {
  background-color: $color--pink;
}

.page__header-toggler:active::before {
  background-color: $color--pink-opacity;
}

.page__header-toggler:active::after {
  background-color: $color--pink-opacity;
}

/*Меню закрыто, гамбургер*/
.page-header--menu-close .page__header-toggler {
  margin-top: 16px;
}

.page-header--menu-close .page__header-toggler::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 9px 0 0 #fff,
              0 18px 0 0 #fff;
  transform: rotate(0);
}

.page-header--menu-close .page__header-toggler::after {
  display: none;
}

.page-header--menu-close .page__header-toggler:hover::before {
  background-color: $color--pink;
  box-shadow: 0 9px 0 0 $color--pink,
              0 18px 0 0 $color--pink;
}

.page-header--menu-close .page__header-toggler:active::before {
  background-color: $color--pink-opacity;
  box-shadow: 0 9px 0 0 $color--pink-opacity,
              0 18px 0 0 $color--pink-opacity;
}

/*Меню закрыто, прячем навигацию*/
.page-header--menu-close .page-header__main-nav {
  display: none;
}

/*Если отключен js, крестик не показывается*/
.page-header--no-js .page__header-toggler {
  display: none;
}

/*Блок для заголовка или слогана*/
.page-header__intro {
  margin: 0;
  min-height: 395px;
  text-align: center;

  &--photo-page {
    padding: 30px 20px;
    min-height: 110px;
  }

  &--form-page {
    padding: 30px 45px 32px 45px;
    min-height: 95px;
  }
}

/*Блок для фона с рукой и его центровки*/
.page-header__intro-inner {
  position: relative;
  @include container();
  min-height: 395px;
}

.page-header__intro-inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  z-index: 1;
  width: 258px;
  height: 286px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 50% 50%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/iphone-hand-mobile@2x.png") no-repeat 50% 50%;
    background-size: 258px auto;
  }
}

/*Слоган скрыт в мобильной версии*/
.page-header__slogan {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1.2;
  font-weight: $light;
  text-align: center;
  color: #fff;
}

@media (min-width: $tablet) {
  /*Изображения добавлены временно для удобства стилизации, позже будет добавлена графика для планшета и десктопа*/
  .page-header {
    background: $color--blue url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 255px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    &--menu-close {
      background-position: 50% 0px;
    }
  }

  .page-header__menu {
    width: 100%;
  }

  .page-header__menu-top {
    padding-top: 26px;
    padding-bottom: 41px;
  }

  .page-header--menu-close .page-header__menu-top {
    padding-top: 26px;
    padding-bottom: 42px;
  }

  .page-header__menu-top-inner {
    width: 620px;
  }

  .page-header__intro-block {
    @include container();
  }

  .page-header__intro {
    padding-top: 91px;
    padding-bottom: 20px;
    padding-left: 55px;
    min-height: 130px;

    &--photo-page {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 67px;
      padding-bottom: 67px;
      min-height: 196px;
    }

    &--form-page {
      padding-top: 67px;
      padding-bottom: 60px;
      padding-left: 45px;
      padding-right: 45px;
      min-height: 95px;
    }
  }

  .page__header-toggler{
    margin-top: 18px;
  }

  .page-header--menu-close .page__header-toggler {
    margin-top: 18px;
  }

  .page-header__intro-inner {
    width: auto;
    min-height: 130px;
  }

  .page-header__intro-inner::before {
    bottom: -385px;
    left: 80px;
    width: 482px;
    height: 550px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 80% 50%;
    background-size: auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      bottom: -382px;
      background: url("../img/iphone-hand-tablet@2x.png") no-repeat 80% 50%;
      background-size: cover;
    }
  }

  .page-header__slogan {
    display: block;
    width: 190px;
  }

  .page-header__title {
    width: 360px;
    font-size: 50px;

    &--form-page {
      width: 475px;
    }
  }

}

@media (min-width: $desktop) {

  .page-header {
    background: $color--blue url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg")
    }
  }

  .page-header--inner-page {
    background-size: 200%;
  }

  .page-header__menu-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__menu {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
  }

  .page__header-toggler {
    display: none;
  }

  .page-header--menu-close .page-header__main-nav {
    display: block;
  }

  .page-header--menu-close .page-header__menu-top,
  .page-header__menu-top {
    padding-top: 13px;
    padding-bottom: 26px;
    width: 150px;
    background-color: transparent;
  }

  .page-header__menu-top-inner {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .page-header__logo {
    margin: 0;
    width: 150px;
    height: 45px;
  }

  .page-header__intro {
    padding-top: 105px;
    padding-bottom: 43px;
    padding-left: 30px;
    min-height: 180px;

    &--photo-page {
      padding-left: 100px;
      padding-top: 60px;
      padding-bottom: 82px;
      min-height: 108px;
    }

    &--form-page {
      padding-top: 60px;
      padding-bottom: 82px;
      padding-left: 45px;
      padding-right: 45px;
      min-height: 120px;
    }
  }

  .page-header__intro-block {
    position: relative;
  }

  .page-header__intro-block::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 175px;
    z-index: 1;
    width: 730px;
    height: 655px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat 50% 50%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/iphone-hand-desktop@2x.png") no-repeat 50% 50%;
      background-size: cover;
      bottom: 0;
    }
  }

  .page-header__intro-inner {
    &::before {
      display: none;
    }
  }

  .page-header__slogan {
    font-size: 50px;
    width: 238px;
  }

  .page-header__title {
    width: 360px;

    &--form-page {
      width: 750px;
    }
  }

}
