.page-footer {
  margin: 0;
  padding: 40px 0;
  font-size: 14px;
  line-height: 18px;
  color: $color--blue;
  background-color: #fff;

  &--main-page {
    display: none;
  }
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__logo {
  display: block;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 147px;
  height: 40px;
  margin-bottom: 40px;
}

.page-footer__social {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  padding: 0;
  width: 177px;
}

.page-footer__copyright {
  margin: 0 auto;
  padding: 0;
  width: 142px;
}

.page-footer__copyright-link {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 42px;
  vertical-align: middle;
  font-size: 0;
  color: $color--blue;
  text-decoration: none;
  background: url("../img/htmlacademy.svg") no-repeat 50% 50%;
}

@media (min-width: $tablet) {

  .page-footer {
    padding: 0;

    &--main-page {
      display: block;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin-left: 0;
    margin-top: 36px;
    margin-bottom: 50px;
  }

  .page-footer__social {
    flex-basis: 177px;
    margin-top: 39px;
    margin-bottom: 37px;
  }

  .page-footer__copyright {
    margin-right: 0;
    margin-top: 45px;
  }

  .page-footer__copyright-link {
    margin-right: -21px;
    margin-left: 5px;
    background: url("../img/htmlacademy.svg") no-repeat 100% 100%;
  }

}

@media (min-width: $desktop) {

  .page-footer {
    font-size: 18px;
  }

  .page-footer__logo {
    margin-top: 70px;
    margin-bottom: 86px;
  }

  .page-footer__social {
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    margin-bottom: 72px;
  }

  .page-footer__copyright {
    margin-top: 82px;
    width: 150px;
  }

  .page-footer__copyright-link {
    margin-right: -8px;
    margin-left: 0;
    background: url("../img/htmlacademy.svg") no-repeat 100% 100%;
  }

}
