.page-footer {
  margin: 0;
  padding: 40px 0;
  font-size: 14px;
  line-height: 18px;
  color: $color--blue;
  background-color: #fff;

  &--main-page {
    display: none;
  }
}

.page-footer__wrapper {
  text-align: center;
  @include container();
}

.page-footer__logo {
  display: block;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 147px;
  height: 40px;
  margin-bottom: 40px;
}

.page-footer__logo-pink {
  position: static;
}

.page-footer__social {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  padding: 0;
  width: 177px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 139px;
  height: 42px;
}

.page-footer__copyright span {
  margin-top: 10px;
}

.page-footer__copyright-link {
  color: $color--blue;
  text-decoration: none;
}

.page-footer__copyright-logo:hover .page-footer__copyright-logo-part {
  fill: $color--blue;
}

.page-footer__copyright-logo:active .page-footer__copyright-logo-part {
  fill-opacity: 0.3;
}

@media (min-width: $tablet) {

  .page-footer {
    padding: 0;

    &--main-page {
      display: block;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin-left: 0;
    margin-right: auto;
    margin-top: 36px;
    margin-bottom: 50px;
  }

  .page-footer__social {
    flex-basis: 177px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 39px;
    margin-bottom: 37px;
    padding-right: 12px;
  }

  .page-footer__copyright {
    margin: 0;
    margin-left: auto;
    margin-top: 45px;
    width: 130px;
  }

}

@media (min-width: $desktop) {

  .page-footer {
    font-size: 18px;
  }

  .page-footer__logo {
    margin-top: 70px;
    margin-bottom: 86px;
  }

  .page-footer__social {
    margin-right: auto;
    margin-left: auto;
    margin-top: 73px;
    margin-bottom: 72px;
    padding-right: 0;
    padding-left: 9px;
  }

  .page-footer__copyright {
    margin-top: 80px;
    width: 153px;
  }

}
