.photo-editor {
  font-size: 14px;
  line-height: 30px;
  color: $color--blue;
  background-color: #fff;
}

.photo-editor__header {
  padding: 40px 0;
  text-align: center;
}

.photo-editor__title {
  @include readers-only();
}

.photo-editor__intro {
  margin: 0;
  padding: 0;
}

.photo-editor__form {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  background-color: $color--gray;
}

.photo-editor__photo-select {
  @include container();
  margin-bottom: 33px;
}

.foto-edito__filter-controls-wrapper {
  @include container();
}

.photo-editor__filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 33px;
  margin-bottom: 6px;
  max-width: auto;
}

.photo-editor__filter-toggler {
  width: 48px;
  height: 44px;
  font-size: 0;

  &:nth-of-type(1) {
    background: url("../img/icon-editor-crop.svg") no-repeat 0 0;
  }

  &:nth-of-type(2) {
    background: url("../img/icon-editor-fill.svg") no-repeat 0 0;
  }

  &:nth-of-type(3) {
    background: url("../img/icon-editor-contrast.svg") no-repeat 5px 6px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.photo-editor__filter-controls input[type="radio"]{
  display: none;
}

.photo-editor__range-controls {
  @include container();
  text-align: center;
}

.photo-editor__range-item {
  display: none;
  border-bottom: 1px solid $color--dark-gray;

  &:nth-child(1) {
    display: block;
  }
}

.photo-editor__action {
  @include container ();
  padding-top: 37px;
  padding-bottom: 40px;

}

.photo-editor__action button {
  margin-bottom: 12px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.photo-editor__send {
  color: $color--pink;
  border-color: $color--pink;
}

.photo-editor__reset {
  color: $color--blue-opacity;
  border-color: $color--blue-opacity;
}

@media (min-width: $tablet) {

  .photo-editor {
    font-size: 18px;
  }

  .photo-editor__header {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .photo-editor__form {
    padding-top: 41px;
    padding-bottom: 54px;
  }

  .photo-editor__form-inner {
    display: flex;
    justify-content: space-between;
    @include container();
  }

  .photo-editor__photo-select {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    width: 300px;
    height: 400px;
  }

  .photo-editor__editor-wrapper {
    width: 275px;
  }

  .photo-editor__filter-controls {
    display: none;
  }

  .photo-editor__range-controls {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
  }

  .photo-editor__range-item {
    position: relative;
    display: block;
    padding-left: 55px;
  }

  .photo-editor__range-item--crop::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 10;
    display: block;
    width: 24px;
    height: 22px;
    background: url("../img/icon-editor-crop.svg") no-repeat 50% 50%;
  }

  .photo-editor__range-item--fill::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 10;
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/icon-editor-fill.svg") no-repeat 50% 50%;
  }

  .photo-editor__range-item--contrast::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 10;
    display: block;
    width: 17px;
    height: 17px;
    background: url("../img/icon-editor-contrast.svg") no-repeat 50% 50%;
  }

  .photo-editor__crop-toggler {
    right: 60px;
  }

  .photo-editor__fill-toggler {
    right: 180px;
  }

  .photo-editor__contrast-toggler {
    right: 110px;
  }

  .photo-editor__action {
    width: auto;
    padding: 0;
    margin: 0;
    padding-right: 13px;
    padding-top: 67px;
  }

  .photo-editor__action button {
    margin-bottom: 24px;
  }

}
