.photo-editor {
  font-size: 14px;
  line-height: 30px;
  color: $color--blue;
  background-color: #fff;
}

.photo-editor__header {
  padding: 40px 0;
  text-align: center;
}

.photo-editor__title {
  @include readers-only();
}

.photo-editor__intro {
  margin: 0;
  padding: 0;
}

.photo-editor__form {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  background-color: $color--gray;
}

.photo-editor__photo-select {
  margin-bottom: 33px;
}

.photo-editor__filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 33px;
  margin-bottom: 30px;
  max-width: auto;
}

.photo-editor__filter-toggler {
  width: 48px;
  height: 44px;
  font-size: 0;

  &:nth-of-type(1) {
    background: url("../img/icon-editor-crop.svg") no-repeat 0 0;
  }

  &:nth-of-type(2) {
    background: url("../img/icon-editor-fill.svg") no-repeat 0 0;
  }

  &:nth-of-type(3) {
    background: url("../img/icon-editor-contrast.svg") no-repeat 5px 6px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.photo-editor__filter-controls input[type="radio"]{
  display: none;
}

.photo-editor__range-controls {
  text-align: center;
}

.photo-editor__range-controls-wrapper {
  display: none;

  &:nth-child(1) {
    display: block;
    padding-bottom: 17px;
    border-bottom: 1px solid $color--dark-gray;
  }
}

.photo-editor__action {
  padding-top: 37px;
  padding-bottom: 40px;
}

.photo-editor__action button {
  margin-bottom: 12px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.photo-editor__send {
  color: $color--pink;
  border-color: $color--pink;
}

.photo-editor__reset {
  color: $color--blue-opacity;
  border-color: $color--blue-opacity;
}
