.price {
  position: relative;
  padding: 0;
  padding-top: 91px;
  padding-bottom: 99px;
  font-size: 14px;
  line-height: 30px;
  color: $color--blue;
  text-transform: uppercase;
  background: $color--gray;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 26px;
    background: url("../img/bg-triangle-white.svg") no-repeat 50% 50%;
  }
}

.price__title-main {
  @include readers-only();
}

.price__label {
  position: absolute;
  left: 50%;
  bottom: 47px;
  margin-left: -29px;
}

.price__table-wrapper {
  width: 100%;
  overflow: hidden;
}

.price__table {
  width: calc(300% - 120px);
  margin-left: 20px;
  margin-right: 20px;
  border-collapse: collapse;
  transition-property: transform;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

#column-1:checked ~ .price__table-wrapper .price__table  {
  transform: translate(0);
}

#column-2:checked ~ .price__table-wrapper .price__table  {
  transform: translate(-33.3%);
}

#column-3:checked ~ .price__table-wrapper .price__table  {
  transform: translate(-66.6%);
}

#column-1:checked ~ .slider__controls label[for="column-1"],
#column-2:checked ~ .slider__controls label[for="column-2"],
#column-3:checked ~ .slider__controls label[for="column-3"] {
  @include slide-active();
}

.price__table th {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 17px;
  padding-bottom: 21px;
  text-align: center;
  vertical-align: middle;
  border-left: 2px solid $color--gray;
  background-color: $color--blue;
}

.price__first-column {
  display: none;
}

.price__table th:nth-of-type(2) {
  border: none;
}

.price__title {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: $bold;
  color: #fff;
}

.price__value {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: $light;
  color: #fff;
}

.price__table td {
  border: 2px solid $color--gray-border;
  border-top: none;
  background-color: #fff;
}

.price__cell-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 23px;
  padding-right: 17px;
}

.price__service-item {
  max-width: 170px;
}

.price__included {
  display: block;
  width: 36px;
  height: 36px;
  font-size: 0;
  background: url("../img/icon-yes.svg") no-repeat 50% 50%;

  &--off {
    background-image: url("../img/icon-no.svg");
    background-position: 50% 0;
  }
}

@media (min-width: $tablet) {

  .price {
    padding-top: 82px;
    padding-bottom: 66px;

    &::before {
      height: 52px;
    }
  }

  .price__label {
     display: none;
  }

  .price__table-wrapper {
   margin: 0 auto;
   padding-left: 20px;
   padding-right: 20px;
   width: 660px;
   box-sizing: border-box;
  }

  .price__table {
    margin: 0;
    width: 100%;
  }

  #column-2:checked ~ .price__table-wrapper .price__table  {
    transform: translate(0);
  }

  #column-3:checked ~ .price__table-wrapper .price__table  {
    transform: translate(0);
  }

  .price__first-column {
    display: table-cell;
    width: 25%;

    &:first-of-type {
      border-top: 2px solid $color--gray-border;
    }
  }

 .price__table .price__cell-empty {
    visibility: hidden;
    border-top: none;
  }

  .price__table th {
    padding-left: 0;
    padding-right: 0;
    padding-top: 13px;
    padding-bottom: 8px;
    width: 25%;
  }

  .price__title {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }

  .price__value {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .price__services {
    display: block;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 8px;
    text-transform: none;
  }

  .price__cell-wrapper {
    display: block;
    padding: 0;
  }

  .price__service-item {
    display: none;
  }

  .price__included {
    margin: 0 auto;

    &--off {
      background-position: 50% 50%;
    }
  }
}

@media (min-width: $desktop) {

  .price {
    padding-top: 154px;
    padding-bottom: 95px;
    font-size: 18px;

    &::before {
      height: 98px;
    }
  }

  .price__table-wrapper {
   margin: 0 auto;
   padding-left: 10px;
   padding-right: 10px;
   width: 960px;
  }

  .price__table th {
    padding-top: 17px;
    padding-bottom: 22px;
  }

  .price__title {
    font-size: 18px;
  }

  .price__value {
    font-size: 24px;
  }

  .price__services {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

}
