.reviews {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 30px;
  color: $color--blue;
  background-color: #fff;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  @include readers-only();
}

.reviews__label {
  order: 1;
}

.reviews__slide-wrapper {
  overflow: hidden;
  max-width: 100%;
}

.reviews__slides {
  display: flex;
  width: 300%;
  transition-property: transform;
  transition-duration: 0.9s;
  transition-timing-function: ease;
}

.reviews__slide {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  max-width: 33.3%;
}

#slide-1:checked ~ .reviews__slide-wrapper .reviews__slides {
  transform: translate(0);
}

#slide-2:checked ~ .reviews__slide-wrapper .reviews__slides {
  transform: translate(-33.3%);
}

#slide-3:checked ~ .reviews__slide-wrapper .reviews__slides {
  transform: translate(-66.6%);
}

#slide-1:checked ~ .slider__controls label[for="slide-1"],
#slide-2:checked ~ .slider__controls label[for="slide-2"],
#slide-3:checked ~ .slider__controls label[for="slide-3"] {
  @include slide-active();
}

.reviews__toggler {
  display: none;
}

@media (min-width: $tablet) {

  .reviews {
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 18px;
  }

}

@media (min-width: $desktop) {

  .reviews {
    padding-top: 187px;
    padding-bottom: 33px;
  }

  .reviews__label {
    display: none;
  }

  .reviews-wrapper {
    position: relative;
  }

  .reviews__toggler {
    position: absolute;
    top: 27px;
    display: block;
    width: 36px;
    height: 42px;
    font-size: 0;
    text-decoration: none;
    outline: 1px solid red;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

}
